GMAIL_USER=sirodevske@gmail.com
GMAIL_APP_PASSWORD=your16characterapppassword
PAYSTACK_SECRET_KEY_SWAHILIB=
PAYSTACK_SECRET_KEY_SONGLIB=
PAYSTACK_SECRET_KEY_BIBLELIB=


SENTRY_DSN_SONGLIB=
SENTRY_AUTH_TOKEN_SONGLIB=
GOOGLE_WEB_CLIENT_ID_SONGLIB=
SONGLIB_API_KEY=